*
!countries/
!static/
!templates/
!countries/data
!countries/data/sqlite
!countries/data/sqlite/*
!countries/data/flags
!countries/data/flags/PNG-128
!countries/data/flags/PNG-128/*
!static/*
!static/css/*
!static/js/*
!templates/*
!Dockerfile
!app.py
!utils.py
!requirements.txt
!run_[]_cls_233_lr_0.001_bs_256_ts_8_tp_15288561_8620_model.hdf5
!.dockerignore
static/data